node_modules/
.expo/
dist/
android/
ios/
.vscode/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.envrc
web-build/
google-services.json
build-beta.bat
copybuild.bat
package-lock.json
.env

# macOS
.DS_Store
